*{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
    align-items: center;
}
h2{
    font-size: 2rem;
}
header{
    position: absolute;
    height: 69px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    z-index: 2;
}
header img{
    height: 50px;
    margin-left: 10px;
}
.nav span{
    margin: 0 15px;
    text-decoration: underline;
}
#mission{
    display: flex;
    height: 700px;
    background-image: url(img/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 2%;
}
.text-div{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}
.text-div h2{
    margin: 0 auto;
    padding: 20px 0;
}

.text-div h4{
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

#img-cont{
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-list{
    margin: 10px 20px;
}
.img-list img{
    height: 200px;
    width: 300px;
}
.img-list h4{
    margin-top: 10px;
    text-align: center;
}