*{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
}
header{
    position: fixed;
    height: 69px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    z-index: 2;
}
header img{
    height: 50px;
    margin-left: 10px;
}

.nav span{
    margin: 0 15px;
    text-decoration: underline;
}
